Options +Indexes
Order Allow,Deny
Allow from all

<Files *.png>
    Header set Content-Type "image/png"
</Files>

# Enable CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept" 